@font-face {
	font-family: 'expression';
	src: url('//at.alicdn.com/t/font_900373_o2q9oz0nivf.woff2?t=1616757390140') format('woff2'),
		url('//at.alicdn.com/t/font_900373_o2q9oz0nivf.woff?t=1616757390140') format('woff');
}

.expression {
	font-family: "expression" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.expression-dianzan:before {
  content: "\e775";
}

.expression-bushufu:before {
  content: "\e75f";
}

.expression-bianbian:before {
  content: "\e760";
}

.expression-fankun1:before {
  content: "\e761";
}

.expression-feiwen:before {
  content: "\e762";
}

.expression-ganmao:before {
  content: "\e763";
}

.expression-huaixiao:before {
  content: "\e764";
}

.expression-liuhan:before {
  content: "\e765";
}

.expression-outu:before {
  content: "\e766";
}

.expression-keshui:before {
  content: "\e767";
}

.expression-renzhe:before {
  content: "\e768";
}

.expression-santiaoxian:before {
  content: "\e769";
}

.expression-guaiwu:before {
  content: "\e76a";
}

.expression-shoushang:before {
  content: "\e76b";
}

.expression-tianshi:before {
  content: "\e76c";
}

.expression-shuai:before {
  content: "\e76d";
}

.expression-xianwen:before {
  content: "\e76e";
}

.expression-xiaodiaodaya:before {
  content: "\e76f";
}

.expression-xiong:before {
  content: "\e770";
}

.expression-yiwen:before {
  content: "\e771";
}

.expression-yun:before {
  content: "\e772";
}

.expression-liubixie:before {
  content: "\e773";
}

.expression-shimo:before {
  content: "\e774";
}

.expression-ku:before {
  content: "\e75b";
}

.expression-shengqi:before {
  content: "\e75c";
}

.expression-yousiliao:before {
  content: "\e75d";
}

.expression-en:before {
  content: "\e75e";
}

.expression-a:before {
  content: "\e736";
}

.expression-bizui:before {
  content: "\e737";
}

.expression-baiyan:before {
  content: "\e738";
}

.expression-aixin:before {
  content: "\e739";
}

.expression-dajing:before {
  content: "\e73a";
}

.expression-ziya:before {
  content: "\e73b";
}

.expression-daxiao:before {
  content: "\e73c";
}

.expression-esi:before {
  content: "\e73d";
}

.expression-fadai:before {
  content: "\e73e";
}

.expression-fankun:before {
  content: "\e73f";
}

.expression-ganga:before {
  content: "\e740";
}

.expression-fennu:before {
  content: "\e741";
}

.expression-hanyan:before {
  content: "\e742";
}

.expression-jingkong:before {
  content: "\e743";
}

.expression-haochi:before {
  content: "\e744";
}

.expression-emo:before {
  content: "\e745";
}

.expression-jingsong:before {
  content: "\e746";
}

.expression-jingya:before {
  content: "\e747";
}

.expression-kaixin:before {
  content: "\e748";
}

.expression-lengku:before {
  content: "\e749";
}

.expression-danao:before {
  content: "\e74a";
}

.expression-liukoushui:before {
  content: "\e74b";
}

.expression-liulei:before {
  content: "\e74c";
}

.expression-mengbi:before {
  content: "\e74d";
}

.expression-mianwubiaoqing:before {
  content: "\e74e";
}

.expression-nanguo:before {
  content: "\e74f";
}

.expression-shuizhuo:before {
  content: "\e750";
}

.expression-taoyan:before {
  content: "\e751";
}

.expression-tanchi:before {
  content: "\e752";
}

.expression-siliao:before {
  content: "\e753";
}

.expression-tiaopi:before {
  content: "\e754";
}

.expression-xiaochulei:before {
  content: "\e755";
}

.expression-wuliao:before {
  content: "\e756";
}

.expression-xingxingyan:before {
  content: "\e757";
}

.expression-xieyan:before {
  content: "\e758";
}

.expression-xiasi:before {
  content: "\e759";
}

.expression-xiaolian:before {
  content: "\e75a";
}
